$vertSombre: #005D31;
$vertClair: #9ED8A4;
$canard: #65BBA7;
$bleuCiel: #AEE6F4;
$blanc: #FFFFFF;

.fondVertSombre{
    background-color: $vertSombre;
}

.fondVertClair{
    background-color: $vertClair;
}

.fondCanard{
    background-color: $canard;
}

.fondBleuCiel{
    background-color: $bleuCiel;
}

.fondBlanc{
    background-color: $blanc;
}