@use "mixins";

#footerNav {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    p{
        @include mixins.white_text;
       a {
                @include mixins.white_text;
                text-decoration: none;
                
            } 
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style-type: none;
            margin: 5px;

            a {
                @include mixins.white_text;
                text-decoration: none;
                
            }
        }
    }
}