@use "color";
@use "mixins";

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    
    picture{
        img{
             max-width: 100px;
        }
       
    }
 
    h2{
        color: color.$blanc;
    }
    .connect{
        a{
            @include mixins.white_text;
            text-decoration: none;
            
            
        }
        
    }


}