@use "header";
@use "navbar";
@use "color";
@use "footer";
@use "interactiveMessage";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    line-height: 1.5;
    letter-spacing: 1.2px;

    .frame {
        padding: 30px;
        border-radius: 40px;
        margin-bottom: 20px;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border-radius: 40px;

            header{
                width: 100%;
                justify-content: space-between;
            }

            img {
                height: 500px;
                object-fit: cover;
                display: block;
                margin: 20px;
            }

            p{
                margin: 0 50px;
            }
        }

        .comments_list {
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin-bottom: 20px;
            border-radius: 40px;

            .comhead {
                padding: 0;
            }

            p {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .height {
                height: 120px;
            }

        }

    }
}